<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdin.report.dao.ContactMapper">
  <resultMap id="BaseResultMap" type="com.gdin.report.entity.Contact">
    <id column="CONTACT_ID" jdbcType="VARCHAR" property="contactId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ADDRESS_ID" jdbcType="DECIMAL" property="addressId" />
    <result column="AEO" jdbcType="VARCHAR" property="aeo" />
  </resultMap>
  <sql id="Base_Column_List">
    CONTACT_ID, NAME, ADDRESS_ID, AEO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from   CONTACT
    where CONTACT_ID = #{contactId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from   CONTACT
    where CONTACT_ID = #{contactId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gdin.report.entity.Contact">
    insert into   CONTACT (CONTACT_ID, NAME, ADDRESS_ID,
      AEO)
    values (#{contactId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{addressId,jdbcType=DECIMAL}, 
      #{aeo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdin.report.entity.Contact">
    insert into   CONTACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contactId != null">
        CONTACT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="addressId != null">
        ADDRESS_ID,
      </if>
      <if test="aeo != null">
        AEO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contactId != null">
        #{contactId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="aeo != null">
        #{aeo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdin.report.entity.Contact">
    update   CONTACT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        ADDRESS_ID = #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="aeo != null">
        AEO = #{aeo,jdbcType=VARCHAR},
      </if>
    </set>
    where CONTACT_ID = #{contactId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdin.report.entity.Contact">
    update   CONTACT
    set NAME = #{name,jdbcType=VARCHAR},
      ADDRESS_ID = #{addressId,jdbcType=DECIMAL},
      AEO = #{aeo,jdbcType=VARCHAR}
    where CONTACT_ID = #{contactId,jdbcType=VARCHAR}
  </update>
</mapper>