<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdin.report.dao.ExportReportMapper">
  <resultMap id="BaseResultMap" type="com.gdin.report.entity.ExportReport">
    <id column="EXPORT_REPORT_ID" jdbcType="VARCHAR" property="exportReportId" />
    <result column="REPRESENTATIVEPERSONNAME" jdbcType="VARCHAR" property="representativepersonname" />
    <result column="EXITCUSTOMSOFFICEID" jdbcType="VARCHAR" property="exitcustomsofficeid" />
    <result column="AGENTID" jdbcType="VARCHAR" property="agentid" />
    <result column="CARRIERID" jdbcType="VARCHAR" property="carrierid" />
    <result column="BORDERTRANSPORTMEANS_ID" jdbcType="DECIMAL" property="bordertransportmeansId" />
    <result column="ADDITIONALINFORMATION" jdbcType="VARCHAR" property="additionalinformation" />
    <result column="MESSAGEID" jdbcType="VARCHAR" property="messageid" />
    <result column="MESSAGETYPE" jdbcType="VARCHAR" property="messagetype" />
  </resultMap>
  <sql id="Base_Column_List">
    EXPORT_REPORT_ID, REPRESENTATIVEPERSONNAME, EXITCUSTOMSOFFICEID, AGENTID, CARRIERID, 
    BORDERTRANSPORTMEANS_ID, ADDITIONALINFORMATION, MESSAGEID, MESSAGETYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from   EXPORT_REPORT
    where EXPORT_REPORT_ID = #{exportReportId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from   EXPORT_REPORT
    where EXPORT_REPORT_ID = #{exportReportId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gdin.report.entity.ExportReport">
    insert into   EXPORT_REPORT (EXPORT_REPORT_ID, REPRESENTATIVEPERSONNAME,
      EXITCUSTOMSOFFICEID, AGENTID, CARRIERID, 
      BORDERTRANSPORTMEANS_ID, ADDITIONALINFORMATION, 
      MESSAGEID, MESSAGETYPE)
    values (#{exportReportId,jdbcType=VARCHAR}, #{representativepersonname,jdbcType=VARCHAR}, 
      #{exitcustomsofficeid,jdbcType=VARCHAR}, #{agentid,jdbcType=VARCHAR}, #{carrierid,jdbcType=VARCHAR}, 
      #{bordertransportmeansId,jdbcType=DECIMAL}, #{additionalinformation,jdbcType=VARCHAR}, 
      #{messageid,jdbcType=VARCHAR}, #{messagetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gdin.report.entity.ExportReport">
    insert into   EXPORT_REPORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exportReportId != null">
        EXPORT_REPORT_ID,
      </if>
      <if test="representativepersonname != null">
        REPRESENTATIVEPERSONNAME,
      </if>
      <if test="exitcustomsofficeid != null">
        EXITCUSTOMSOFFICEID,
      </if>
      <if test="agentid != null">
        AGENTID,
      </if>
      <if test="carrierid != null">
        CARRIERID,
      </if>
      <if test="bordertransportmeansId != null">
        BORDERTRANSPORTMEANS_ID,
      </if>
      <if test="additionalinformation != null">
        ADDITIONALINFORMATION,
      </if>
      <if test="messageid != null">
        MESSAGEID,
      </if>
      <if test="messagetype != null">
        MESSAGETYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exportReportId != null">
        #{exportReportId,jdbcType=VARCHAR},
      </if>
      <if test="representativepersonname != null">
        #{representativepersonname,jdbcType=VARCHAR},
      </if>
      <if test="exitcustomsofficeid != null">
        #{exitcustomsofficeid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null">
        #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="carrierid != null">
        #{carrierid,jdbcType=VARCHAR},
      </if>
      <if test="bordertransportmeansId != null">
        #{bordertransportmeansId,jdbcType=DECIMAL},
      </if>
      <if test="additionalinformation != null">
        #{additionalinformation,jdbcType=VARCHAR},
      </if>
      <if test="messageid != null">
        #{messageid,jdbcType=VARCHAR},
      </if>
      <if test="messagetype != null">
        #{messagetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdin.report.entity.ExportReport">
    update   EXPORT_REPORT
    <set>
      <if test="representativepersonname != null">
        REPRESENTATIVEPERSONNAME = #{representativepersonname,jdbcType=VARCHAR},
      </if>
      <if test="exitcustomsofficeid != null">
        EXITCUSTOMSOFFICEID = #{exitcustomsofficeid,jdbcType=VARCHAR},
      </if>
      <if test="agentid != null">
        AGENTID = #{agentid,jdbcType=VARCHAR},
      </if>
      <if test="carrierid != null">
        CARRIERID = #{carrierid,jdbcType=VARCHAR},
      </if>
      <if test="bordertransportmeansId != null">
        BORDERTRANSPORTMEANS_ID = #{bordertransportmeansId,jdbcType=DECIMAL},
      </if>
      <if test="additionalinformation != null">
        ADDITIONALINFORMATION = #{additionalinformation,jdbcType=VARCHAR},
      </if>
      <if test="messageid != null">
        MESSAGEID = #{messageid,jdbcType=VARCHAR},
      </if>
      <if test="messagetype != null">
        MESSAGETYPE = #{messagetype,jdbcType=VARCHAR},
      </if>
    </set>
    where EXPORT_REPORT_ID = #{exportReportId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdin.report.entity.ExportReport">
    update   EXPORT_REPORT
    set REPRESENTATIVEPERSONNAME = #{representativepersonname,jdbcType=VARCHAR},
      EXITCUSTOMSOFFICEID = #{exitcustomsofficeid,jdbcType=VARCHAR},
      AGENTID = #{agentid,jdbcType=VARCHAR},
      CARRIERID = #{carrierid,jdbcType=VARCHAR},
      BORDERTRANSPORTMEANS_ID = #{bordertransportmeansId,jdbcType=DECIMAL},
      ADDITIONALINFORMATION = #{additionalinformation,jdbcType=VARCHAR},
      MESSAGEID = #{messageid,jdbcType=VARCHAR},
      MESSAGETYPE = #{messagetype,jdbcType=VARCHAR}
    where EXPORT_REPORT_ID = #{exportReportId,jdbcType=VARCHAR}
  </update>
</mapper>