<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdin.report.dao.LoadConsignmentMapper">
  <resultMap id="BaseResultMap" type="com.gdin.report.entity.LoadConsignment">
    <id column="LOAD_CONSIGNMENT_ID" jdbcType="DECIMAL" property="loadConsignmentId" />
    <result column="LOAD_REPORT_ID" jdbcType="VARCHAR" property="loadReportId" />
    <result column="CONSIGNMENT_ID" jdbcType="DECIMAL" property="consignmentId" />
  </resultMap>
  <sql id="Base_Column_List">
    LOAD_CONSIGNMENT_ID, LOAD_REPORT_ID, CONSIGNMENT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from   LOAD_CONSIGNMENT
    where LOAD_CONSIGNMENT_ID = #{loadConsignmentId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from   LOAD_CONSIGNMENT
    where LOAD_CONSIGNMENT_ID = #{loadConsignmentId,jdbcType=DECIMAL}
  </delete>


  <insert id="insert" parameterType="com.gdin.report.entity.LoadConsignment">
    <selectKey keyProperty="loadConsignmentId" order="BEFORE" resultType="DECIMAL">
      SELECT LOAD_CONSIGNMENT_SEQ.nextval loadConsignmentId from dual
    </selectKey>

    insert into   LOAD_CONSIGNMENT (LOAD_CONSIGNMENT_ID, LOAD_REPORT_ID,
      CONSIGNMENT_ID)
    values (#{loadConsignmentId,jdbcType=DECIMAL}, #{loadReportId,jdbcType=VARCHAR}, 
      #{consignmentId,jdbcType=DECIMAL})
  </insert>


  <insert id="insertSelective" parameterType="com.gdin.report.entity.LoadConsignment">
    insert into   LOAD_CONSIGNMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loadConsignmentId != null">
        LOAD_CONSIGNMENT_ID,
      </if>
      <if test="loadReportId != null">
        LOAD_REPORT_ID,
      </if>
      <if test="consignmentId != null">
        CONSIGNMENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loadConsignmentId != null">
        #{loadConsignmentId,jdbcType=DECIMAL},
      </if>
      <if test="loadReportId != null">
        #{loadReportId,jdbcType=VARCHAR},
      </if>
      <if test="consignmentId != null">
        #{consignmentId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdin.report.entity.LoadConsignment">
    update   LOAD_CONSIGNMENT
    <set>
      <if test="loadReportId != null">
        LOAD_REPORT_ID = #{loadReportId,jdbcType=VARCHAR},
      </if>
      <if test="consignmentId != null">
        CONSIGNMENT_ID = #{consignmentId,jdbcType=DECIMAL},
      </if>
    </set>
    where LOAD_CONSIGNMENT_ID = #{loadConsignmentId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdin.report.entity.LoadConsignment">
    update   LOAD_CONSIGNMENT
    set LOAD_REPORT_ID = #{loadReportId,jdbcType=VARCHAR},
      CONSIGNMENT_ID = #{consignmentId,jdbcType=DECIMAL}
    where LOAD_CONSIGNMENT_ID = #{loadConsignmentId,jdbcType=DECIMAL}
  </update>
</mapper>