<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdin.report.dao.TallyEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.gdin.report.entity.TallyEquipment">
    <id column="TALLY_EQUIPMENT_ID" jdbcType="DECIMAL" property="tallyEquipmentId" />
    <result column="TALLY_REPORT_ID" jdbcType="VARCHAR" property="tallyReportId" />
    <result column="TRANSPORTEQUIPMENT_ID" jdbcType="VARCHAR" property="transportequipmentId" />
  </resultMap>
  <sql id="Base_Column_List">
    TALLY_EQUIPMENT_ID, TALLY_REPORT_ID, TRANSPORTEQUIPMENT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from   TALLY_EQUIPMENT
    where TALLY_EQUIPMENT_ID = #{tallyEquipmentId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from   TALLY_EQUIPMENT
    where TALLY_EQUIPMENT_ID = #{tallyEquipmentId,jdbcType=DECIMAL}
  </delete>


  <insert id="insert" parameterType="com.gdin.report.entity.TallyEquipment">

    <selectKey keyProperty="tallyEquipmentId" order="BEFORE" resultType="DECIMAL">
      SELECT TALLY_EQUIPMENT_SEQ.nextval tallyEquipmentId from dual
    </selectKey>

    insert into   TALLY_EQUIPMENT (TALLY_EQUIPMENT_ID, TALLY_REPORT_ID,
      TRANSPORTEQUIPMENT_ID)
    values (#{tallyEquipmentId,jdbcType=DECIMAL}, #{tallyReportId,jdbcType=VARCHAR}, 
      #{transportequipmentId,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.gdin.report.entity.TallyEquipment">
    insert into   TALLY_EQUIPMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tallyEquipmentId != null">
        TALLY_EQUIPMENT_ID,
      </if>
      <if test="tallyReportId != null">
        TALLY_REPORT_ID,
      </if>
      <if test="transportequipmentId != null">
        TRANSPORTEQUIPMENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tallyEquipmentId != null">
        #{tallyEquipmentId,jdbcType=DECIMAL},
      </if>
      <if test="tallyReportId != null">
        #{tallyReportId,jdbcType=VARCHAR},
      </if>
      <if test="transportequipmentId != null">
        #{transportequipmentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdin.report.entity.TallyEquipment">
    update   TALLY_EQUIPMENT
    <set>
      <if test="tallyReportId != null">
        TALLY_REPORT_ID = #{tallyReportId,jdbcType=VARCHAR},
      </if>
      <if test="transportequipmentId != null">
        TRANSPORTEQUIPMENT_ID = #{transportequipmentId,jdbcType=VARCHAR},
      </if>
    </set>
    where TALLY_EQUIPMENT_ID = #{tallyEquipmentId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdin.report.entity.TallyEquipment">
    update   TALLY_EQUIPMENT
    set TALLY_REPORT_ID = #{tallyReportId,jdbcType=VARCHAR},
      TRANSPORTEQUIPMENT_ID = #{transportequipmentId,jdbcType=VARCHAR}
    where TALLY_EQUIPMENT_ID = #{tallyEquipmentId,jdbcType=DECIMAL}
  </update>
</mapper>